Repository ExodusMovement/exodus-oss, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, feature, module, library, tooling, testing, lint, docs

.github/labeler.yml:

ci:
  - ".github/**"

feature:
  - "features/**"

module:
  - "modules/**"

library:
  - "libraries/**"

tooling:
  - "tools/**"
  - "lerna.json"
  - "nx.json"
  - "babel.config.js"
  - ".husky/**"
  - ".yarn/**"
  - ".editorconfig"
  - ".gitattributes"
  - ".gitignore"
  - ".nvmrc"
  - ".prettierignore"
  - ".yarnrc.yml"

testing:
  - "jest.config"
  - "jest.setup.js"

lint:
  - ".eslintignore"
  - ".eslintrc.js"
  - "tools/packages/eslint-plugin-hydra/**"
  - "libraries/eslint-*/**"

docs:
  - "**/*.md"

chore: add root deps
  package.json
  yarn.lock
Labels: none

chore: add top-level dirs
  features/.gitkeep
  libraries/.gitkeep
  modules/.gitkeep
Labels: feature, module, library

chore: add yarn setup + release
  .yarn/releases/yarn-3.2.2.cjs
  .yarnrc.yml
Labels: tooling

chore: copy over eslint setup from hydra
  .eslintignore
  .eslintrc.js
Labels: lint

chore: add missing deps
  package.json
  yarn.lock
Labels: none

chore: copy over README from hydra
  README.md
Labels: docs

chore: add .nvmrc
  .nvmrc
Labels: tooling

lint
  README.md
Labels: docs

chore: prettier ignore
  .prettierignore
Labels: tooling

chore: rm rate limit check
  .github/workflows/version.yaml
Labels: ci
