Repository ExodusMovement/exodus-oss, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, feature, module, library, tooling, testing, lint, docs

.github/labeler.yml:

ci:
  - ".github/**"

feature:
  - "features/**"

module:
  - "modules/**"

library:
  - "libraries/**"

tooling:
  - "tools/**"
  - "lerna.json"
  - "nx.json"
  - "babel.config.js"
  - ".husky/**"
  - ".yarn/**"
  - ".editorconfig"
  - ".gitattributes"
  - ".gitignore"
  - ".nvmrc"
  - ".prettierignore"
  - ".yarnrc.yml"

testing:
  - "jest.config"
  - "jest.setup.js"

lint:
  - ".eslintignore"
  - ".eslintrc.js"
  - "libraries/eslint-*/**"

docs:
  - "**/*.md"

chore: rm non-existent folders from prettierignore
  .prettierignore
Labels: tooling

chore: rm unused scripts from package.json
  package.json
Labels: none

chore: add sync script minus exodus repo links
  README.md
  package.json
  tools/scripts/sync.js
Labels: tooling, docs

fix: use hydra bot's gist
  .github/workflows/checks.yaml
Labels: ci

fix: use hydra bot's gist
  .github/workflows/checks.yaml
Labels: ci
