Repository ExodusMovement/exodus-oss, pull requests merged in 2024-09, with the labels that each got.

#140 refactor(keychain): drop unused getPrivateHDKey "exportPrivate" param
  features/keychain/module/crypto/sodium.js
Labels: keychain, feature

#139 fix(keychain)!: only export secret if "exportPrivate" flag is set
  features/keychain/module/__tests__/sodium.test.js
  features/keychain/module/crypto/sodium.js
Labels: keychain, feature

#143 feat: expose sodium encryption through API
  features/keychain/api/__tests__/index.test.js
  features/keychain/api/index.d.ts
  features/keychain/api/index.js
Labels: keychain, feature

#146 feat: allow "pers" EC option
  features/keychain/module/crypto/secp256k1.js
Labels: keychain, feature

#147 chore: switch to exodus/test
  features/keychain/module/__tests__/schnorr.test.js
  features/keychain/package.json
  libraries/key-identifier/package.json
  package.json
  yarn.lock
Labels: keychain, feature, key-identifier, library

#148 feat: switch to exodus/crypto for schnorr signatures
  .eslintrc.js
  features/keychain/module/__tests__/schnorr.test.js
  features/keychain/module/crypto/secp256k1.js
  features/keychain/module/crypto/tweak.js
  features/keychain/package.json
  yarn.lock
Labels: lint, keychain, feature

#150 feat: remove ecOptions from secp256k1 signer
  features/keychain/api/__tests__/index.test.js
  features/keychain/api/index.d.ts
  features/keychain/module/__tests__/ecdsa.test.js
  features/keychain/module/__tests__/ethsign.test.js
  features/keychain/module/crypto/secp256k1.js
Labels: keychain, feature

#138 refactor: bump basic-utils
  features/keychain/package.json
  package.json
  tools/package.json
  yarn.lock
Labels: tooling, keychain, feature
