Repository ExodusMovement/exodus-oss, pull requests merged in 2024-03, with the labels that each got.

#71 feat: pass options to secp256k1 signBuffer
  features/keychain/module/__tests__/ethsign.test.js
  features/keychain/module/crypto/secp256k1.js
Labels: keychain, feature

#75 feat: pass options to secp256k1 signBuffer (#71)
  features/keychain/CHANGELOG.md
  features/keychain/module/__tests__/ethsign.test.js
  features/keychain/module/crypto/secp256k1.js
  features/keychain/package.json
Labels: docs, keychain, feature

#72 refactor: do not extend ExodusModule
  features/keychain/module/keychain.js
  features/keychain/module/memoized-keychain.js
  features/keychain/package.json
  yarn.lock
Labels: keychain, feature

#66 chore: add default codeowners
  .github/CODEOWNERS
Labels: ci, security
