Repository ExodusMovement/exodus-oss, pull requests merged in 2024-07, with the labels that each got.

#109 fix: use proper ESM
  .eslintrc.js
  features/keychain/.eslintrc.cjs
  features/keychain/__tests__/index.integration-test.js
  features/keychain/api/__tests__/index.test.js
  features/keychain/babel.config.cjs
  features/keychain/index.d.ts
  features/keychain/index.js
  features/keychain/jest.config.js
  features/keychain/module/__tests__/binauth.test.js
  features/keychain/module/__tests__/compatibility.test.js
  features/keychain/module/__tests__/create-keychain.js
  features/keychain/module/__tests__/ecdsa.test.js
  features/keychain/module/__tests__/eddsa.test.js
  features/keychain/module/__tests__/ethsign.test.js
  features/keychain/module/__tests__/example.integration-test.js
  features/keychain/module/__tests__/keychain.integration-test.js
  features/keychain/module/__tests__/lock-private-keys.test.js
  features/keychain/module/__tests__/schnorr.test.js
  features/keychain/module/__tests__/sodium.test.js
  features/keychain/module/crypto/secp256k1.js
  features/keychain/module/index.d.ts
  features/keychain/module/index.js
  features/keychain/module/keychain.js
  features/keychain/module/memoized-keychain.js
  features/keychain/module/validate.js
  features/keychain/package.json
  libraries/key-identifier/__tests__/key-identifier.integration-test.js
  libraries/key-identifier/__tests__/key-identifier.test.js
  libraries/key-identifier/babel.config.cjs
  libraries/key-identifier/jest.config.js
  libraries/key-identifier/package.json
  libraries/key-identifier/src/index.d.ts
  libraries/key-identifier/src/index.js
  package.json
  yarn.lock
Labels: lint, keychain, feature, key-identifier, library

#107 feat: add common signature encoding
  features/keychain/module/__tests__/ecdsa.test.js
  features/keychain/module/crypto/secp256k1.js
Labels: keychain, feature

#112 feat(keychain): default feature config
  features/keychain/index.js
Labels: keychain, feature

#114 ci: fix nx cache restore issue
  .github/workflows/checks.yaml
  .github/workflows/publish.yaml
Labels: ci

#116 feat: use `KeyIdentifier` as string tag
  libraries/key-identifier/__tests__/key-identifier.test.js
  libraries/key-identifier/src/key-identifier.js
Labels: key-identifier, library

#118 fix: ensure `derivationPath` is spreadable
  libraries/key-identifier/__tests__/key-identifier.test.js
  libraries/key-identifier/src/key-identifier.d.ts
  libraries/key-identifier/src/key-identifier.js
Labels: key-identifier, library

#123 feat: implement seed-specific locked boolean flag
  features/keychain/api/__tests__/index.test.js
  features/keychain/api/index.d.ts
  features/keychain/api/index.js
  features/keychain/module/__tests__/lock-private-keys.test.js
  features/keychain/module/crypto/seed-id.js
  features/keychain/module/keychain.js
Labels: keychain, feature

#125 feat: declare keychain definitions as public
  features/keychain/module/keychain.js
  features/keychain/module/memoized-keychain.js
Labels: keychain, feature

#128 fix: `DerivationPath` predicate using `Symbol.toStringTag` getter
  libraries/key-identifier/src/key-identifier.js
Labels: key-identifier, library

#130 feat: expose `DerivationPath` instance via getPath
  libraries/key-identifier/__tests__/key-identifier.test.js
  libraries/key-identifier/package.json
  libraries/key-identifier/src/key-identifier.d.ts
  libraries/key-identifier/src/key-identifier.js
  yarn.lock
Labels: key-identifier, library

#131 feat(keychain): implement removing specific seeds
  features/keychain/api/index.d.ts
  features/keychain/module/__tests__/example.integration-test.js
  features/keychain/module/keychain.js
Labels: keychain, feature
