Repository ExodusMovement/exodus-oss, pull requests merged in 2024-11, with the labels that each got.

#169 chore: set `publicConfig.access` to public
  libraries/key-identifier/package.json
Labels: key-identifier, library

#175 feat: expose sodium encrypt/decrypt box in keychain api
  features/keychain/api/__tests__/index.test.js
  features/keychain/api/index.d.ts
  features/keychain/api/index.js
Labels: keychain, feature

#174 feat: expose sodium encrypt/decrypt box in keychain api
  features/keychain/api/__tests__/index.test.js
  features/keychain/api/index.d.ts
  features/keychain/api/index.js
Labels: keychain, feature

#176 fix: schnorrSign return type and type and signature
  features/keychain/api/__tests__/index.test.js
  features/keychain/api/index.d.ts
  features/keychain/module/__tests__/schnorr.test.js
  features/keychain/module/crypto/secp256k1.js
Labels: keychain, feature, blocked/needs-rebase

#181 chore: omit commit SHA from changelog
  .eslintrc.js
  changelog.config.js
  lerna.json
Labels: tooling, lint

#182 fix: harden `compare`
  libraries/key-identifier/__tests__/key-identifier.test.js
  libraries/key-identifier/src/key-identifier.js
Labels: key-identifier, library

#170 fix: clarify error message
  features/keychain/module/keychain.js
Labels: keychain, feature

#186 feat: add ability to skip public key generation
  features/keychain/api/__tests__/index.test.js
  features/keychain/api/index.d.ts
  features/keychain/module/keychain.js
Labels: keychain, feature
