Repository ExodusMovement/exodus-oss, pull requests merged in 2024-02, with the labels that each got.

#43 chore: enable checks in merge queue
  .github/workflows/checks.yaml
Labels: ci

#48 chore: add feature request issue template, disable blank issue
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: documentation, ci

#49 feat(key-identifier): add meaningful `toString()`
  features/keychain/module/__tests__/key-identifier.test.js
  features/keychain/module/key-identifier.js
Labels: keychain, feature

#51 ci: pin remaining actions and use dependabot
  .github/dependabot.yml
  .github/workflows/checks.yaml
Labels: ci

#52 feat!: remove `EXODUS_KEY_IDS`
  features/keychain/module/__tests__/binauth.test.js
  features/keychain/module/__tests__/compatibility.test.js
  features/keychain/module/__tests__/ecdsa.test.js
  features/keychain/module/__tests__/eddsa.test.js
  features/keychain/module/__tests__/key-identifier.integration-test.js
  features/keychain/module/__tests__/key-identifier.test.js
  features/keychain/module/__tests__/keychain.integration-test.js
  features/keychain/module/index.js
  features/keychain/module/key-identifier.js
  features/keychain/package.json
  jest.config.js
  yarn.lock
Labels: keychain, feature

#50 feat!: multi-seed-keychain
  features/keychain/README.md
  features/keychain/index.js
  features/keychain/module/__tests__/binauth.test.js
  features/keychain/module/__tests__/compatibility.test.js
  features/keychain/module/__tests__/create-keychain.js
  features/keychain/module/__tests__/ecdsa.test.js
  features/keychain/module/__tests__/eddsa.test.js
  features/keychain/module/__tests__/example.integration-test.js
  features/keychain/module/__tests__/keychain.integration-test.js
  features/keychain/module/__tests__/memoized-keychain.test.js
  features/keychain/module/__tests__/sodium.test.js
  features/keychain/module/crypto/ed25519.js
  features/keychain/module/crypto/secp256k1.js
  features/keychain/module/crypto/seed-id.js
  features/keychain/module/crypto/sodium.js
  features/keychain/module/keychain.js
  features/keychain/package.json
  yarn.lock
Labels: docs, keychain, feature

#60 chore: release keychain 6.0.0
  features/keychain/CHANGELOG.md
  features/keychain/package.json
  yarn.lock
Labels: docs, keychain, feature

#59 chore: rm unneeded devDeps
  features/keychain/package.json
  yarn.lock
Labels: keychain, feature

#61 feat: add separate key-identifier package
  features/keychain/README.md
  features/keychain/module/__tests__/compatibility.test.js
  features/keychain/module/__tests__/eddsa.test.js
  features/keychain/module/__tests__/keychain.integration-test.js
  features/keychain/module/__tests__/sodium.test.js
  features/keychain/module/index.js
  features/keychain/module/validate.js
  features/keychain/package.json
  libraries/key-identifier/LICENSE
  libraries/key-identifier/README.md
  libraries/key-identifier/__tests__/key-identifier.integration-test.js
  libraries/key-identifier/__tests__/key-identifier.test.js
  libraries/key-identifier/babel.config.js
  libraries/key-identifier/jest.config.js
  libraries/key-identifier/package.json
  libraries/key-identifier/src/index.js
  libraries/key-identifier/src/key-identifier.js
  package.json
  yarn.lock
Labels: docs, keychain, feature, key-identifier, library

#65 test: verify feature factory returns a valid shape
  features/keychain/__tests__/index.integration-test.js
  jest.config.js
Labels: keychain, feature

#64 feat: keychain api, to replace the one from the wallet feature
  features/keychain/__tests__/index.integration-test.js
  features/keychain/api/__tests__/index.test.js
  features/keychain/api/index.js
  features/keychain/index.js
  features/keychain/package.json
  jest.config.js
Labels: keychain, feature

#67 chore: release @exodus/keychain@6.1.0
  features/keychain/CHANGELOG.md
  features/keychain/package.json
Labels: docs, keychain, feature

#68 fix: freeze internally in exportKey to callers don't have to
  features/keychain/module/keychain.js
Labels: keychain, feature

#69 chore: release @exodus/keychain@6.1.1
  features/keychain/CHANGELOG.md
  features/keychain/package.json
Labels: docs, keychain, feature
