Repository ExodusMovement/exodus-oss, pull requests merged in 2024-04, with the labels that each got.

#82 fix: include memory cache on clear
  features/keychain/module/memoized-keychain.js
Labels: bug, keychain, feature

#84 feat: pass options to secp256k1 signBuffer (#71) (#75)
  features/keychain/CHANGELOG.md
  features/keychain/module/__tests__/ethsign.test.js
  features/keychain/module/crypto/secp256k1.js
  features/keychain/package.json
Labels: docs, keychain, feature

#85 chore: release keychain 5.1.1
  features/keychain/CHANGELOG.md
  features/keychain/package.json
Labels: docs, keychain, feature

#76 chore: bring back lerna-release-action
  .github/workflows/publish.yaml
  .github/workflows/version-dispatch.yaml
  .github/workflows/version.yaml
Labels: ci

#87 fix: privateKeysAreLocked should be false when seeds removed
  features/keychain/module/__tests__/lock-private-keys.test.js
  features/keychain/module/keychain.js
Labels: keychain, feature

#89 feat: lockPrivateKeys and unlockPrivateKeys (backport)
  features/keychain/module/__tests__/lock-private-keys.test.js
  features/keychain/module/crypto/ed25519.js
  features/keychain/module/crypto/secp256k1.js
  features/keychain/module/crypto/sodium.js
  features/keychain/module/keychain.js
Labels: keychain, feature

#88 chore: upgrade lerna to add support for latest prettier config
  lerna.json
  package.json
  yarn.lock
Labels: tooling, dx

#90 feat: support for schnorr signatures
  features/keychain/module/__tests__/schnorr.test.js
  features/keychain/module/crypto/secp256k1.js
  features/keychain/module/crypto/tweak.js
  features/keychain/package.json
  yarn.lock
Labels: keychain, feature

#97 docs: fix spelling
  features/keychain/README.md
Labels: docs, keychain, feature

#91 chore: fix company name
  features/keychain/package.json
  libraries/key-identifier/package.json
  package.json
  yarn.lock
Labels: keychain, feature, key-identifier, library
