Repository ExodusMovement/exodus-oss, pull requests merged in 2024-12, with the labels that each got.

#185 feat: add zilliqa schnorr signing
  .nvmrc
  features/keychain/module/__tests__/schnorr-z.test.js
  features/keychain/module/crypto/schnorr-z.js
  features/keychain/module/crypto/secp256k1.js
  features/keychain/module/keychain.js
  features/keychain/package.json
  package.json
Labels: tooling, keychain, feature

#189 feat: add zilliqa schnorr signing (again)
  .nvmrc
  features/keychain/module/__tests__/schnorr-z.test.js
  features/keychain/module/crypto/schnorr-z.js
  features/keychain/module/crypto/secp256k1.js
  features/keychain/module/keychain.js
  features/keychain/package.json
  package.json
Labels: tooling, keychain, feature

#190 ci: update release action and only publish from protected branch
  .github/workflows/publish.yaml
  .github/workflows/version-dispatch.yaml
  .github/workflows/version.yaml
Labels: ci

#192 fix: add schnorrZ to keychain Api
  features/keychain/CHANGELOG.md
  features/keychain/api/index.d.ts
  features/keychain/api/index.js
Labels: docs, keychain, feature
