Repository ExodusMovement/exodus-oss, pull requests merged in 2024-01, with the labels that each got.

#22 chore: tmp rm lerna-coverage-report-action
  .github/workflows/checks.yaml
Labels: dx

#16 refactor: bump atoms
  features/keychain/package.json
  package.json
  yarn.lock
Labels: keychain

#10 chore: mv @exodus/migrate to devDeps
  package.json
Labels: dx

#32 lint: tsconfig
  tools/tsconfig.json
  tsconfig.json
Labels: dx

#33 chore: security hardening
  .github/CODEOWNERS
  .github/workflows/asana.yaml
  .github/workflows/checks.yaml
  .github/workflows/codeql.yml
  features/keychain/module/__tests__/example.integration-test.js
  features/keychain/module/__tests__/key-identifier.test.js
  features/keychain/module/__tests__/keychain.integration-test.js
  features/keychain/module/keychain.js
  features/keychain/module/memoized-keychain.js
Labels: keychain

#31 chore: bring back label, merge conflict detection action
  .github/workflows/conflicts.yaml
  .github/workflows/label.yaml
Labels: ci, dx

#20 feat(keychain)!: expose clear method instead of clearing in plugin
  features/keychain/index.js
  features/keychain/module/keychain.js
  features/keychain/module/memoized-keychain.js
  features/keychain/package.json
  features/keychain/plugin/index.js
Labels: keychain

#36 chore: give lerna-package-name-action permission to write PRs
  .github/workflows/label.yaml
Labels: ci

#37 chore: give merge-conflict action permission to write PRs
  .github/workflows/conflicts.yaml
Labels: ci, dx

#39 chore: add codeowners
  .github/CODEOWNERS
Labels: ci

#21 feat(keychain)!: deprecate create methods
  features/keychain/module/__tests__/binauth.test.js
  features/keychain/module/__tests__/ecdsa.test.js
  features/keychain/module/__tests__/eddsa.test.js
  features/keychain/module/__tests__/example.integration-test.js
  features/keychain/module/__tests__/sodium.test.js
  features/keychain/module/crypto/ed25519.js
  features/keychain/module/crypto/secp256k1.js
  features/keychain/module/crypto/sodium.js
  features/keychain/module/keychain.js
Labels: keychain, feature

#38 chore: set MIT license for keychain
  features/keychain/LICENSE
  features/keychain/package.json
Labels: keychain, feature

#42 chore: release @exodus/keychain 4.4.1 -> 5.0.0
  features/keychain/CHANGELOG.md
  features/keychain/package.json
Labels: docs, keychain, feature

#44 fix(keychain): super.clear() call
  features/keychain/module/keychain.js
Labels: keychain, feature

#45 chore: release @exodus/keychain 5.0.0 -> 5.0.1
  features/keychain/CHANGELOG.md
  features/keychain/package.json
Labels: docs, keychain, feature

#47 chore: fix prettier log-level flag
  package.json
Labels: ci, dx

#46 docs: clarify keychain readme
  features/keychain/README.md
Labels: documentation, docs, keychain, feature
